# 1. Tách cấu hình Environment ra một Anchor riêng
x-kafka-env: &kafka-env
  KAFKA_CLUSTER_ID: "6db71891-766b-4e46-9963-36691459a99c"
  KAFKA_PROCESS_ROLES: "broker,controller"
  KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true" # Để true cho tiện dev, sau này tắt sau
  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT"
  KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
  KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
  KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093"
  KAFKA_HEAP_OPTS: "-Xms256m -Xmx512m" # Giới hạn heap để không tràn RAM VM
  KAFKA_LOG_RETENTION_HOURS: 12 # Giảm thời gian lưu log để tiết kiệm disk
  KAFKA_LOG_DIRS: "/var/lib/kafka/data"

# 2. Template chung cho Service
x-kafka-common: &kafka-common
  image: apache/kafka:3.7.0
  networks:
    - comment-toxic
  deploy:
    resources:
      limits:
        memory: 700M # Tăng lên 1G để chạy ổn định hơn trên Cloud

services:
  kafka-1:
    env_file:
      - .env
    <<: *kafka-common
    container_name: kafka-1
    hostname: kafka-1
    ports:
      - "9092:9092" # Port cho Cloud/Local Laptop
    environment:
      <<: *kafka-env
      KAFKA_NODE_ID: 1
      KAFKA_LISTENERS: "INTERNAL://:29092,CONTROLLER://:9093,EXTERNAL://0.0.0.0:9092"
      # QUAN TRỌNG: EXTERNAL trỏ về IP Public của Azure
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka-1:29092,EXTERNAL://${KAFKA_ADVERTISED_LISTENERS}:9092"
    volumes:
      - kafka-1-data:/var/lib/kafka/data

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    networks:
      - comment-toxic
    depends_on:
      - kafka-1
    ports:
      - "8085:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: "Azure-Cluster"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka-1:29092"
    deploy:
      resources:
        limits:
          memory: 512M
          
  init-kafka:
    image: apache/kafka:3.7.0
    networks:
      - comment-toxic
    entrypoint: [ "/bin/bash", "-c" ]
    command: |
      "
      # Đợi Kafka broker sẵn sàng
      /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka-1:29092 --list
      
      # Tạo topic
      /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka-1:29092 --create --if-not-exists --topic comment --partitions 1 --replication-factor 1
      "
  model-api:
    build: ./spark_app
    container_name: toxic-model-api
    depends_on:
      - kafka-1
    environment:
      - SPARK_MASTER=local[2] 
      - KAFKA_BOOTSTRAP_SERVERS=kafka-1:29092
    networks:
      - comment-toxic
    ports:
      - "4040:4040"
      - "8000:8000"
    volumes:
      - ./spark_app:/opt/spark_app
      - ./model:/opt/model
    entrypoint: ["/bin/bash", "/opt/spark_app/entrypoint.sh"]
    deploy:
      resources:
        limits:
          memory: 5G

networks:
  comment-toxic:
    name: comment-toxic
    driver: bridge

volumes:
  kafka-1-data:
