# 1. Tách cấu hình Environment ra một Anchor riêng
x-kafka-env: &kafka-env
  KAFKA_CLUSTER_ID: "6db71891-766b-4e46-9963-36691459a99c"
  KAFKA_PROCESS_ROLES: "broker,controller"
  KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT"
  KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
  KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
  KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093"
  KAFKA_HEAP_OPTS: "-Xms256m -Xmx512m"
  KAFKA_LOG_RETENTION_HOURS: 24
  KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
  KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
  KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
  KAFKA_LOG_DIRS: "/var/lib/kafka/data"

# 2. Template chung cho Service
x-kafka-common: &kafka-common
  image: apache/kafka:3.7.0
  networks:
    - comment-toxic
  deploy:
    resources:
      limits:
        memory: 750M

services:
  kafka-1:
    <<: *kafka-common
    container_name: kafka-1
    hostname: kafka-1
    ports:
      - "9092:9092"
      - "9094:9094"
    environment:
      <<: *kafka-env # Kế thừa đúng chuẩn Anchor ở đây
      KAFKA_NODE_ID: 1
      KAFKA_LISTENERS: "INTERNAL://:9092,CONTROLLER://:9093,EXTERNAL://:9094"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka-1:9092,EXTERNAL://localhost:9094"
    volumes:
      - kafka-1-data:/var/lib/kafka/data

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    networks:
      - comment-toxic
    depends_on:
      - kafka-1
    ports:
      - "8085:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: "Dev-Cluster"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka-1:9092"

  kafka-init:
    <<: *kafka-common
    container_name: kafka-init
    depends_on:
      - kafka-1
    entrypoint: ["/bin/bash", "-c"]
    networks:
      - comment-toxic
    command: |
      "
      echo 'Waiting for Kafka...'
      until /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka-1:9092 --list; do
        sleep 3
      done
      /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka-1:9092 --create --if-not-exists --topic comment --partitions 1 --replication-factor 1
      echo 'Topic created successfully!'
      "
  # =========================
  # 5. SPARK MASTER
  # =========================
  spark-master:
    image: apache/spark:3.5.7-scala2.12-java17-python3-r-ubuntu
    container_name: spark-master
    hostname: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    networks:
      - comment-toxic
    depends_on:
      - kafka-1
    volumes:
      - ./spark_app:/opt/spark_app/
    environment:
      SPARK_MASTER_WEBUI_PORT: 8080
      SPARK_MODE: master
      SPARK_MASTER_HOST: spark-master
      SPARK_MASTER_PORT: 7077
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    deploy:
      resources:
        limits:
          memory: 512m
  # =========================
  # 6. SPARK WORKER (Chỉ dùng 1 cái để tiết kiệm RAM)
  # =========================
  spark-worker:
    image: apache/spark:3.5.7-scala2.12-java17-python3-r-ubuntu
    container_name: spark-worker
    depends_on: [spark-master]
    networks:
      - comment-toxic
    environment:
      SPARK_WORKER_MEMORY: 1200m
      SPARK_MODE: worker
      SPARK_WORKER_CORES: 1
      SPARK_MASTER_URL: spark://spark-master:7077
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    deploy:
      resources:
        limits:
          memory: 1400m

networks:
  comment-toxic:
    name: comment-toxic
    driver: bridge

volumes:
  kafka-1-data:
    driver: local
# spark.executor.instances=1
# spark.executor.cores=1
# spark.executor.memory=768m
# spark.executor.memoryOverhead=256m
# spark.driver.memory=1g
# spark.driver.cores=1
# spark.driver.memoryOverhead=256m
