# 1. Tách cấu hình Environment ra một Anchor riêng
x-kafka-env: &kafka-env
  KAFKA_CLUSTER_ID: "6db71891-766b-4e46-9963-36691459a99c"
  KAFKA_PROCESS_ROLES: "broker,controller"
  KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true" # Để true cho tiện dev, sau này tắt sau
  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT"
  KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
  KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
  KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093"
  KAFKA_HEAP_OPTS: "-Xms256m -Xmx512m" # Giới hạn heap để không tràn RAM VM
  KAFKA_LOG_RETENTION_HOURS: 12 # Giảm thời gian lưu log để tiết kiệm disk
  KAFKA_LOG_DIRS: "/var/lib/kafka/data"

# 2. Template chung cho Service
x-kafka-common: &kafka-common
  image: apache/kafka:3.7.0
  networks:
    - comment-toxic
  deploy:
    resources:
      limits:
        memory: 700M # Tăng lên 1G để chạy ổn định hơn trên Cloud

services:
  kafka-1:
    env_file:
      - .env
    <<: *kafka-common
    container_name: kafka-1
    hostname: kafka-1
    ports:
      - "9092:9092" # Port cho Cloud/Local Laptop
    environment:
      <<: *kafka-env
      KAFKA_NODE_ID: 1
      KAFKA_LISTENERS: "INTERNAL://:29092,CONTROLLER://:9093,EXTERNAL://0.0.0.0:9092"
      # QUAN TRỌNG: EXTERNAL trỏ về IP Public của Azure
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka-1:29092,EXTERNAL://${KAFKA_ADVERTISED_LISTENERS}:9092"
    volumes:
      - kafka-1-data:/var/lib/kafka/data

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    networks:
      - comment-toxic
    depends_on:
      - kafka-1
    ports:
      - "8085:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: "Azure-Cluster"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka-1:29092"
    deploy:
      resources:
        limits:
          memory: 512M # Tăng lên 1G để chạy ổn định hơn trên Cloud

  # =========================
  # SPARK MASTER (Tối ưu RAM)
  # =========================
  spark-master:
    image: toxic-project-spark-base:latest
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    networks:
      - comment-toxic
    environment:
      - SPARK_MODE=master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    deploy:
      resources:
        limits:
          memory: 700M

  # =========================
  # SPARK WORKER (Chỉ dùng 1 để tiết kiệm RAM)
  # =========================
  spark-worker:
    image: toxic-project-spark-base:latest
    container_name: spark-worker
    depends_on: [spark-master]
    networks:
      - comment-toxic
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=1500m
      - SPARK_WORKER_CORES=2
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    deploy:
      resources:
        limits:
          memory: 2500M

  model-api:
    build: ./spark_app # Docker sẽ tìm Dockerfile bên trong folder này để build
    image: toxic-project-spark-base:latest # Đặt tên chung cho image
    container_name: toxic-model-api
    working_dir: /opt/spark_app
    ports:
      - "8000:8000"
      - "4040:4040"
    networks:
      - comment-toxic
    volumes:
      - ./spark_app:/opt/spark_app
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka-1:29092
    command: >
      spark-submit 
        --master spark://spark-master:7077 
        --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.1,org.apache.hadoop:hadoop-aws:3.3.4,org.mongodb.spark:mongo-spark-connector_2.12:10.3.0,com.redislabs:spark-redis_2.12:3.1.0 
        --conf spark.executorEnv.PYTHONPATH=/opt/spark_app 
        --py-files spark_app/app_code.zip
        main.py;
    deploy:
      resources:
        limits:
          memory: 2G # Dành riêng cho Model load lên RAM

  # =========================
  # 7. REDIS
  # =========================
  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - comment-toxic
    volumes:
      - redis-data:/data

networks:
  comment-toxic:
    name: comment-toxic
    driver: bridge

volumes:
  kafka-1-data:
  redis-data:
