services:
  # =========================
  # 1. KAFKA & ZOOKEEPER (Kraft)
  # =========================
  kafka-1:
    image: apache/kafka:3.7.0
    container_name: kafka-1
    hostname: kafka-1
    networks:
      - comment-toxic
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENERS: "INTERNAL://:29092,CONTROLLER://:9093,EXTERNAL://0.0.0.0:9092"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka-1:29092,EXTERNAL://localhost:9092"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093"
      KAFKA_CLUSTER_ID: "6db71891-766b-4e46-9963-36691459a99c"
      KAFKA_HEAP_OPTS: "-Xms256m -Xmx512m"
      KAFKA_LOG_RETENTION_HOURS: 12
    volumes:
      - kafka-1-data:/var/lib/kafka/data
    deploy:
      resources:
        limits:
          memory: 1G

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    networks:
      - comment-toxic
    depends_on:
      - kafka-1
    ports:
      - "8085:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: "Local-Cluster"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka-1:29092"
    deploy:
      resources:
        limits:
          memory: 512M
  init-kafka:
    image: apache/kafka:3.7.0
    container_name: init-kafka
    networks:
      - comment-toxic
    depends_on:
      - kafka-1
    entrypoint: ["/bin/bash", "-c"]
    command: |
      "
      set -e
      # Đợi Kafka broker sẵn sàng
      until /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka-1:29092 --list; do
        echo "Waiting for Kafka broker..."
        sleep 3
      done
      echo "Kafka is ready, creating topic..."

      # Tạo topic
      /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka-1:29092 --create --if-not-exists --topic comment --partitions 1 --replication-factor 1
      "
  # =========================
  # 2. REDIS
  # =========================
  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - comment-toxic
    volumes:
      - redis-data:/data
    deploy:
      resources:
        limits:
          memory: 512M

  # =========================
  # 3. SPARK APP (Model API)
  # =========================
  model-api:
    build: ./spark_app
    container_name: toxic-model-api
    depends_on:
      - init-kafka
      - redis
    environment:
      - SPARK_MASTER=local[2]
      - KAFKA_BOOTSTRAP_SERVERS=kafka-1:29092
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - comment-toxic
    ports:
      - "4040:4040"
      - "8000:8000"
    volumes:
      - ./spark_app:/opt/spark_app
      - ./model:/opt/model
    entrypoint: ["/bin/bash", "/opt/spark_app/entrypoint.sh"]
    deploy:
      resources:
        limits:
          memory: 6G

networks:
  comment-toxic:
    name: comment-toxic
    driver: bridge

volumes:
  kafka-1-data:
  redis-data:
